form {
    width: 30em;
    margin: auto;
}

.sign-up{
    margin-top: 5em;
}

.sign-in{
    margin-top: 10em;
}

h1 {
    text-align: center;
}

button {
    margin-top: 2em;
}

.form-text{
    color: rgb(232, 232, 232);
}