<link rel="stylesheet" href="/stylesheets/auth.css" />
<form class="sign-in">
    <h1>Sign in</h1>
    <div class="mb-3"><label class="form-label" for="exampleInputEmail1">Email address</label><input
            class="form-control" id="exampleInputEmail1" type="email" aria-describedby="emailHelp" /></div>
    <div class="mb-3"><label class="form-label" for="exampleInputPassword1">Password</label><input class="form-control"
            id="exampleInputPassword1" type="password" /></div><button class="btn btn-primary mx-auto d-block"
        type="submit">Submit</button>
</form>