<link rel="stylesheet" href="/stylesheets/auth.css" />
<form class="sign-up">
    <h1>Sign up</h1>
    <div class="mb-3"><label class="form-label" for="exampleInputEmail1">Email address</label><input
            class="form-control" id="exampleInputEmail1" type="email" aria-describedby="emailHelp" />
        <div class="form-text" id="emailHelp">We&apos;ll never share your email with anyone else.</div>
    </div>
    <div class="mb-3"><label class="form-label" for="inputName">Your name</label><input class="form-control"
            id="inputName" type="email" aria-describedby="emailHelp" /></div>
    <div class="mb-3"><label class="form-label" for="inputPhone">Your phone</label><input class="form-control"
            id="inputName" type="email" aria-describedby="emailHelp" />
        <div class="form-text" id="emailHelp">Optional</div>
    </div>
    <div class="mb-3"><label class="form-label" for="exampleInputPassword1">Password</label><input class="form-control"
            id="exampleInputPassword1" type="password" /></div><button class="btn btn-primary mx-auto d-block"
        type="submit">Submit</button>
</form>